.bodybg{
     -fx-background-image: url(images/background.jpg);
     -fx-background-size: 100% 100%;    
  }
.rightpanel{
     -fx-background-color: #03fc28; 
  }
.bottompanel{
     -fx-background-color: #999999;
  }
.container{
     -fx-background-color: #000000;
}